/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background: url('../images/nav-ribbon.png') repeat-x 0px 38px;
	background-size: 30px 57px;
}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: none;
	margin-top: -146px;
	position: relative;
	width: auto;

	li {

		a {
			border-bottom: 0;
			padding: 5px 12px;
			margin: 6px 16px;

			&:hover, &:focus {
				background-color: rgba(255,255,255,0.5);
			}
		}

		&:nth-child(3), &:nth-child(4) {
			float: right;
		}
		&:first-child {}
		&:last-child {}


		ul.sub-menu,
		ul.children {
			display: none;
		}
	
	}

} /* end .nav */



/*********************
POSTS & CONTENT STYLES
*********************/

.single .entry-content {
	margin-top: 3em;
}

.entry-content {
	p {
		text-align: justify;
	}
}

/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

