/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body, body.home.show-background {
	font-family: $slab-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $white;
	background-color: $black;
	background: url('../images/wallpaper.jpg') fixed repeat;
	background-size: 303px 380.5px;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}
.center {
	text-align: center;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	-o-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-webkit-transition: color 1s ease;
	transition: color 1s ease;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {
		color: $link-active;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 125, 162, 90, 0.3 );
	}
}


/*********************
SELECTED TEXT
*********************/

::selection {
	background: $black; 
	color: lighten($white, 10%);
}

::-moz-selection {
	background: $black; 
	color: lighten($white, 10%);
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $serif;
	text-rendering: optimizelegibility;
	font-weight: normal;

	a {
		text-decoration: none;
	}
}


h1 {
	font-size: 2.2em;
	line-height: 1em;
	color: $pink;
	overflow: hidden;
	text-align: center;
	font-family: "Confection Caps";
		
	a:link, a:visited {
		color: $pink;
		
		&:hover, &:focus {
			color: $red;
		}
	}

}

h2 {
	font-size: .95em;
	font-family: $serif;
	font-weight: bold;
	text-transform: uppercase;
	color: darken($beige, 20%);
	letter-spacing: 1px;
	padding: 10px 0 3px 0;
	border-top: 1px solid darken($beige, 40%);
	border-bottom: 2px solid darken($beige, 40%);
	display: block;
	text-align: center;
	margin: 4em 0 2em;
	
	a:link, a:visited {
		color: darken($beige, 20%);
		
		&:hover, &:focus {
			color: darken($beige, 40%);
		}
	}
	
	&:before, &:after {
		content: "\00b7";
		display: inline-block;
	}
	&:before {
		margin-right: 5px;
	} 
	&:after {
		margin-left: 5px;
	}
}


h3 {
	font-size: 1.5em;
	font-family: $serif;
	font-style: italic;
	color: darken($pink, 20%);
}

h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* drop caps */
.entry-content > p:first-child:first-letter, .drop:first-letter, .drop-span, .news-excerpt p:first-letter {
	font-family: "Confection Caps2";
	font-size: 6em;
    float: left;  
    margin: -.1em .05em -.1em -.1em;  
    color: darken($beige, 25%);
    line-height: 1em;  
    text-shadow: 0 -1px 0 rgba(0,0,0,0.9), 0 1px 0 rgba(255,255,255,0.5);
}
.news-excerpt p {
	margin-top: 30px;
	
	&:first-letter {
		font-size: 4.5em;	
	}
}

.drop-span {
	font-size: 4.5em;
	margin-left: -.2em;
	margin-right: .1em;

	&:first-letter {
		font-family: "Confection Caps";
		vertical-align: -5px;
	}
}

.alt:first-letter {
	font-family: "Confection Caps";
}
.entry-content > p:first-child:first-line, .drop:first-line, .news-excerpt p:first-line {
	text-transform: uppercase;
	color: darken($beige, 10%);
	letter-spacing: 1px;
}



/*********************
HEADER STYLES
*********************/

#header {
	position: fixed;
	top: -10px;
	left: 0;
	height: 57px;
	width: 100%;
	z-index: 200;
	
	.wrap {
		width: 100%;
	}
	
	#logo {
		display: none;
	}

}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	font-size: .9em;
	background: url('../images/nav-ribbon.png') repeat-x 0px 0px;
	background-size: 30px 57px;
	text-align: center;

	li {
		display: inline-block;

		a {
			display: block;
			text-decoration: none;
			padding: 15px 12px;
			margin: 2px 4px;
			color: $green;
			
			&:hover, &:focus {
				color: $pink;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		ul.sub-menu,
		ul.children {
			display: none;
		}

	} /* end .menu li */

} /* end .nav */


/* highlight current page */
.nav li.active, .blog .nav #menu-item-246, .single .nav #menu-item-246 {
	
	a {
		color: darken($green, 20%);
	}
}

/* social media links */
#social {
	display: none;
}



/*************************************
FADE OUT AND FADE IN ON FIRST REQUEST
*************************************/
.home {
	background: url('../images/salon-bw-ios.jpg');
	background-size: cover;
}

.home.loading {
	transition: opacity 1000ms linear;
	
	#home, #header, #home blockquote, #home .direction-button, #smoke {
		opacity: 0;
	}
}

.ran-animation-once {
	#home .direction-button, #smoke {
		transition: opacity 100ms linear;
	}
}

#home, #header, #home blockquote, #home .direction-button, #smoke {
	transition: opacity 1000ms linear;

	&.fade-out {
		opacity: 0;
		transition: opacity 100ms linear;
	}
}

#home blockquote {
	transition-delay: 1000ms;
}

#home .direction-button {
	transition-delay: 7000ms;
}

#smoke {
	transition: opacity 5000ms linear;
}



/*********************
PARALLAX PANEL STYLES
*********************/
html, body, #container {
	width: 100%;
	height: 100%;
}

/* main panels */
.page-panel {
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
    position: relative;
    background: transparent;
    padding-top: 80px;
	border-bottom: 1px solid darken($pink, 30%);
	
	p {
			-webkit-hyphens: none;
			-epub-hyphens:   none;
			-moz-hyphens:    none;
			hyphens:         none;
	}
}
.inner-content {
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.inner-content .entry-content {
	padding-top: 40px;
}


#smoke {
    display: none;
}



/* between panels */
.middle-slide {
	display: none;
}


/* skip text */
.skip-text {
	width: 100%;
	position: absolute;
	top: 20px;
	text-align: center;
	
	h3 {
		font-size: .85em;
		color: darken($beige, 40%);
	}
}

/* direction buttons */
.direction-button, .single-post .article-header a {
    display: block;
    width: 62px;
    height: 62px;
    position: absolute;
    left: 50%;
    margin-left: -31px;
    top: 70px;
    cursor: pointer;
    background: 0px 0px no-repeat;
    
	&:after {
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		width: 62px;
	    height: 62px;
		background: 0px -62px no-repeat;
		background-size: cover;
		opacity: 0;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
	}
	
	&:hover:after {
		background-size: cover;
		opacity: 1;
	}
}

.single-post .article-header a {
	&[rel="prev"] {
		background-image: url('../images/button-left.png');
		background-size: cover;
		
		&:hover:after {
			background-image: url('../images/button-left.png');
			background-size: cover;
		}
	}
	&[rel="next"] {
		background-image: url('../images/button-right.png');
		background-size: cover;
		
		&:hover:after {
			background-image: url('../images/button-right.png');
			background-size: cover;
		}
	}
}

.down {
	background-image: url('../images/button-down.png');
	background-size: cover;
	
	&:hover:after {
		background-image: url('../images/button-down.png');
		background-size: cover;
	}
}

.up {
	background: url('../images/button-up.png') 0px 0px no-repeat; 
	background-size: cover;
	
	&:hover:after {
		background: url('../images/button-up.png') 0px -62px no-repeat;
		background-size: cover;
	}
}




/* individual page panels */
#home {
	background: url('../images/salon-ios.jpg') no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 20px;
	
	#mobile-logo {
		width: 250px;
		height: 166px;
		margin: 5% auto 10px;
	}
	
	blockquote {
		margin-top: 10%;
		font-size: 1.2em;
		
		p {
			text-align: center;
			margin: .5em 0;
		}
	}
	
	.direction-button {
		display: none;
	}
}

#books {
	background: url('../images/wallpaper.jpg') repeat;
	background-size: 303px 380.5px;
	
	.sixcol.last {
		clear: left;
		padding-top: 40px;
	}
	
	#darkwalker {
		width: 38%;
		@include box-shadow;
		float: left;
		margin: 2% -4% 0 0;
	    transform: rotate(-2deg);
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
	}
	
	.pre-order {
		width: 66%;
		margin: 10% 0 0 0;
		font-size: .95em;
		padding: 10px;
		float: left;
		background: url('../images/leather.png');
		background-size: 398px 484px;
		text-align: center;
		border: 1px solid darken($beige, 50%);
		@include box-shadow;
		
		p {
			text-align: center;
		}
		
		h2 {
			margin: 1em 0 0;
		}
		div {
			border: 1px solid darken($beige, 45%);
			padding: 15px 10px 0;
		}
	}
	
}

#about-the-author {
	background: url('../images/wood.png') repeat;
	background-size: 512px 512px;
	
	.rep {
		font-size: .9em;
		text-align: center;
	}
	
	h2 {
		margin: 1.25em 0 1em;
		
		&.widgettitle {
			margin-top: 2.5em;
		}
	}
	
	#subscribe-field {
		float: left;
		width: 68%;
		margin: 0;
	}
	input[name="jetpack_subscriptions_widget"] {
		float: left;
		width: 30%;
		margin: 0 0 0 2%;
		clear: none;
	}
}


#news {
	background: url("../images/salon-bw-ios.jpg") no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 90px;

	h2 {
		margin: 0;
		
		span {
			display: none;
		}
	}
	
	#smoke-two {
		display: none !important;
	}

	.direction-button {
		top: auto;
		bottom: 10px;
	}
	
	.news-excerpt {
		margin-bottom: 6.4227%;
	}
}



/*********************
POSTS & CONTENT STYLES
*********************/

#main {
	padding-top: 70px;
}


.hentry {

	header {
		text-align: center;
	}

	footer {}

} /* end .hentry */

article + article {
	margin-top: 40px;
}

.single-title,
.page-title {}

.single-title {}

.page-title {}

.archive-title { }

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.date {
	width: 60%;
	margin: 20px auto 0px;
	display: inline-block;
	
	.day {
		display: none;
	}
	
	.ordinal {
		display: none;
	}
	
	.year {
		display: none;
	}
}




/* nav buttons */
.article-header {
	.spacer {
		display: inline-block;
		position: absolute;
		top: 100px;
		left: -15px;
		width: 62px;
		height: 62px;
		vertical-align: middle;
		overflow: hidden;
		margin: 0 25px;
	}
	a + .spacer {
		display: none;
	}
	
	a[rel="prev"], a[rel="next"] {
	    display: inline-block;
	    position: absolute;
	    top: 80px;
	    left: -17px;
	    vertical-align: middle;
	    background: 0px 0px no-repeat; 
	    background-size: cover;
	    font: 0/0 a;
		margin: 0 25px;
	}
	a[rel="next"] {
		right: -17px;
		left: auto;
	}

}


/* entry content */

.entry-content {

	p {}


	ul, ol, table, dl {}
	
	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	blockquote {
		font-family: $serif;
		font-style: italic;
		font-size: 1.25em; 
		line-height: 1.25em;
		color: $beige;
		margin: 10% 5%;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.pagination{
        text-align: center;
        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: 1px;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    text-decoration: none;
                    padding: 0;
                    line-height: 1em;
                    font-size: 1em;
                    font-weight: normal;
                    padding: .5em;
                    min-width: 1em;
                    display: block;
                }
                span.current{
                	font-weight: bold;
                }
                a:hover, a:focus {
                    
                }
            }
        }
    } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;		
		width: 100%;
		margin: 20px 0;
		font-size: .95em;
		padding: 10px;
		float: left;
		background: url('../images/leather.png');
		background-size: 398px 484px;
		text-align: center;
		border: 1px solid darken($beige, 50%);
		@include box-shadow;
			
			article {
				border: 1px solid darken($beige, 45%);
				padding: 10px 20px;
			}
			
		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		float: right;
	}
	.even {
		float: left;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		border-bottom: 2px solid darken($beige, 40%);
		font-family: $serif;
		text-transform: uppercase;
		text-align: center;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {
				color: $pink;
				text-decoration: none;
			}

		}

		time {
			display: block;
			font-size: .8em;

			a {
				color: $pink;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.avatar {
			display: none;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		text-align: left;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		background: $black;
		padding: 5px 10px;
		color: $white;
		opacity: 0.65;
		margin: 0 auto;
		font-size: 0.8em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 0 10px;
	padding-bottom: 1em;
	
	#comment-form-title {
		margin-bottom: 10px;
	}

	form {
	
		input[type=text],
		input[type=email],
		input[type=url],
		textarea {

			&:focus {

			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 480px;
			min-width: 200px;
		}

		textarea {

		}
		
		input[type=submit] {
			padding-left: 60px;
			padding-right: 60px;
		}

	}
}

	.comment-subscription-form {
		text-align: center;
	}
	
	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}


	


/******************************************************************
FORM STYLES
******************************************************************/

form {

	li {
		list-style-type: none;
		clear: both;
		margin-bottom: 0.7335em;

		label,
		small {
			display: none;
		}
	}
	
	div {
		clear: both;
		padding-top: 10px;
	}
	
	label {
		display: none;
		
		span, &.textarea {
			display: none;
		}
	}
	
	input[type="checkbox"] + label {
		 float: none;
		 width: 100%;
	 }

	input[type=text],
	input[type=email],
	input[type=url],
	textarea {
		padding: 10px 8px;
		color: lighten($burgundy, 10%);
		font-family: $slab-serif;
		font-size: .9em;
		background: $beige;
		@include css-gradient(lighten($beige, 15%), lighten($beige, 10%));
		@include box-shadow;
		border: 1px solid darken($red, 20%);
		line-height: 21px;
		width: 100%;
		-webkit-appearance: none;
		border-radius: 0;
		
		&::-webkit-input-placeholder {
			color: darken($beige, 20%);  
		}

		&::-moz-placeholder {
			color: darken($beige, 20%);  
		}

		&:-ms-input-placeholder {  
			color: darken($beige, 20%);  
		}

		&:focus {
			background: lighten ($white, 50%);
			@include css-gradient(lighten($beige, 15%), lighten($beige, 20%));
			border: 1px solid $red;
			color: lighten($red, 5%);
		}

		/* form validation */
		&:invalid {
			outline: none;
			border-color: #fbc2c4;
			background-color: #f6e7eb;
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
			    -ms-box-shadow: none;
					box-shadow: none;
		}
	}

	textarea {
		height: 200px;
		clear: both;
		margin: 10px 0%;
		width: 100%;
	}
	
	.contact-submit {
		text-align: center;
	}
	
	input[type=submit] {
		padding: 10px 8px;
		display: block;
		clear: both;
		margin: 10px auto;
		-webkit-appearance: none;
		border-radius: 0;
		
	}

}


	


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	text-align: center;
	font-size: .7em;
	color: darken($pink, 10%);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 0 5px 5px;
	border-top: 1px solid darken($pink, 30%);
	
	a {
		color: darken($pink, 20%);
		text-decoration: none;
	}
	
	p {
		-webkit-hyphens: none;
		-epub-hyphens: none;
		-moz-hyphens: none;
		hyphens: none;
	}
}