@import url("../fonts/confection/stylesheet.css");
@import url("../fonts/arvo/stylesheet.css");
@import url("../fonts/old-standard/stylesheet.css");
/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 101, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 107, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 108, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 109, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 113, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 119, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 125, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 131, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 137, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
SHADOWS
*********************/
/*********************
BUTTONS
*********************/
/* line 209, ../scss/_mixins.scss */
.button, .button:visited, input[type="submit"] {
  font-family: "Arvo", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
  border: 1px solid #4e3a34;
  padding: 10px 30px;
  color: #b6a582;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: 10px;
  line-height: 21px;
  background-color: #270004;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#400007), to(#270004));
  background-image: -webkit-linear-gradient(top, #400007, #270004);
  background-image: -moz-linear-gradient(top, #400007, #270004);
  background-image: -o-linear-gradient(top, #400007, #270004);
  background-image: linear-gradient(to bottom, #400007, #270004);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}
/* line 226, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  color: #c9bca2;
  border: 1px solid #5c7742;
  border-top-color: #4a6036;
  border-left-color: #4a6036;
  background-color: #648148;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#709251), to(#648148));
  background-image: -webkit-linear-gradient(top, #709251, #648148);
  background-image: -moz-linear-gradient(top, #709251, #648148);
  background-image: -o-linear-gradient(top, #709251, #648148);
  background-image: linear-gradient(to bottom, #709251, #648148);
}
/* line 234, ../scss/_mixins.scss */
.button:active, .button:visited:active, input[type="submit"]:active {
  background-color: #7da25a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#709251), to(#7da25a));
  background-image: -webkit-linear-gradient(top, #709251, #7da25a);
  background-image: -moz-linear-gradient(top, #709251, #7da25a);
  background-image: -o-linear-gradient(top, #709251, #7da25a);
  background-image: linear-gradient(to bottom, #709251, #7da25a);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 24, ../scss/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 25, ../scss/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 26, ../scss/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 27, ../scss/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 28, ../scss/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 29, ../scss/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 30, ../scss/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 31, ../scss/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 32, ../scss/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 33, ../scss/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 34, ../scss/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 35, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 38, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 44, ../scss/_grid.scss */
.onepush {
  margin-left: 8.563535911%;
}

/* line 47, ../scss/_grid.scss */
.twopush {
  margin-left: 17.127071822%;
}

/* line 51, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 55, ../scss/_grid.scss */
.last {
  float: right;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 27, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 28, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 29, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 30, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
/* line 35, ../scss/_768up.scss */
h1 {
  font-size: 2.5em;
}
/* line 38, ../scss/_768up.scss */
h1:before, h1:after {
  content: "";
  display: inline-block;
  height: 34px;
  position: relative;
  vertical-align: middle;
  width: 170px;
  background: url("../images/header.png");
}
/* line 48, ../scss/_768up.scss */
h1:before {
  right: 0.5em;
  margin-left: -50%;
  background-position: left center;
}
/* line 54, ../scss/_768up.scss */
h1:after {
  left: 0.5em;
  margin-right: -50%;
  background-position: right center;
}

/* line 61, ../scss/_768up.scss */
h2 {
  font-size: 1.05em;
}

/* line 65, ../scss/_768up.scss */
.entry-content > p:first-child:first-letter, .drop:first-letter, .drop-span, .news-excerpt p:first-letter {
  font-size: 6em;
}

/*********************
HEADER STYLES
*********************/
/* line 74, ../scss/_768up.scss */
.header {
  background: url("../images/nav-ribbon.png") repeat-x 0px 38px;
  background-size: 30px 57px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 100px;
  transition: all 200ms linear;
}
/* line 83, ../scss/_768up.scss */
.header.scrolled {
  top: -20px;
}

/* move banner up on static pages */
/* line 89, ../scss/_768up.scss */
.blog #header, .single #header, .page-template-default #header, .error404 #header {
  top: -20px;
  position: static;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 100, ../scss/_768up.scss */
.nav {
  background: none;
  margin-top: -146px;
  position: relative;
  width: auto;
}
/* line 108, ../scss/_768up.scss */
.nav li a {
  border-bottom: 0;
  padding: 5px 12px;
  margin: 6px 16px;
}
/* line 113, ../scss/_768up.scss */
.nav li a:hover, .nav li a:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 118, ../scss/_768up.scss */
.nav li:nth-child(3), .nav li:nth-child(4) {
  float: right;
}
/* line 126, ../scss/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  display: none;
}

/* end .nav */
/*********************
PARALLAX PANEL STYLES
*********************/
/* line 139, ../scss/_768up.scss */
html, body, #container {
  width: 100%;
  height: 100%;
}

/* main panels */
/* line 145, ../scss/_768up.scss */
.page-panel {
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
  padding-bottom: 0;
  border-bottom: 0;
}

/* line 154, ../scss/_768up.scss */
.inner-content {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 159, ../scss/_768up.scss */
.inner-content .entry-content {
  padding-top: 160px;
}

/* line 164, ../scss/_768up.scss */
#smoke {
  position: absolute;
  top: 0px;
  right: calc(50% - 500px);
  opacity: 0.5;
  z-index: 200;
  pointer-events: none;
}

/* between panels */
/* line 175, ../scss/_768up.scss */
.middle-slide {
  display: block;
  height: 150px;
  width: 100%;
  border-top: 1px solid #4e3a34;
  border-bottom: 1px solid #4e3a34;
  text-align: center;
  background: url("../images/in-between.png") 0 0 repeat;
  background-size: auto;
  position: relative;
  overflow: hidden;
}
/* line 187, ../scss/_768up.scss */
.middle-slide div {
  padding: 100px;
}
/* line 191, ../scss/_768up.scss */
.middle-slide img {
  opacity: 0.1;
  position: absolute;
}
/* line 196, ../scss/_768up.scss */
.middle-slide #the-books {
  opacity: .05;
  left: 20%;
  width: 690px;
  height: 426px;
}
/* line 203, ../scss/_768up.scss */
.middle-slide #angel {
  right: 10%;
}

/* down buttons */
/* line 210, ../scss/_768up.scss */
.down-button {
  display: block;
  width: 62px;
  height: 62px;
  position: absolute;
  left: 50%;
  margin-left: -31px;
  bottom: 20px;
  background: url("../images/button-down.png") 0px 0px no-repeat;
  background-size: cover;
}
/* line 221, ../scss/_768up.scss */
.down-button:hover {
  background-position: 0 -62px;
  cursor: pointer;
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* line 233, ../scss/_768up.scss */
#main {
  padding-top: 100px;
}

/* post meta */
/* line 238, ../scss/_768up.scss */
.date {
  width: 60%;
  margin: 10px auto -20px;
}

/* nav buttons */
/* line 246, ../scss/_768up.scss */
.article-header span {
  display: inline-block;
  position: relative;
  top: 0;
}

/* line 254, ../scss/_768up.scss */
a[rel="prev"], a[rel="next"] {
  display: inline-block;
  position: relative;
  top: 0;
}
/* line 259, ../scss/_768up.scss */
a[rel="prev"]:hover, a[rel="next"]:hover {
  background-position: 0 -62px;
  cursor: pointer;
}

/* line 268, ../scss/_768up.scss */
.single .entry-content {
  margin-top: 3em;
}

/* line 275, ../scss/_768up.scss */
.entry-content p {
  text-align: justify;
}

/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
/* line 287, ../scss/_768up.scss */
#comments {
  /* number of comments span */
}

/* line 304, ../scss/_768up.scss */
.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment content */
  /* comment reply link */
}
/* line 306, ../scss/_768up.scss */
.commentlist li {
  width: 82.87292817100001%;
}
/* line 311, ../scss/_768up.scss */
.commentlist .odd {
  float: right;
}
/* line 314, ../scss/_768up.scss */
.commentlist .even {
  float: left;
}
/* line 319, ../scss/_768up.scss */
.commentlist .vcard {
  text-align: left;
}
/* line 322, ../scss/_768up.scss */
.commentlist .vcard cite.fn {
  margin-left: 55px;
}
/* line 326, ../scss/_768up.scss */
.commentlist .vcard time {
  float: right;
  font-size: 1em;
}
/* line 332, ../scss/_768up.scss */
.commentlist .vcard img.avatar {
  display: block;
  position: absolute;
  left: 4px;
  top: 4px;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  padding: 2px;
  background: #180204;
  border: 1px solid #443b28;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}
/* line 352, ../scss/_768up.scss */
.commentlist .comment_content {
  margin-left: 55px;
}
/* line 357, ../scss/_768up.scss */
.commentlist .comment-reply-link {
  float: right;
}

/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
/* line 372, ../scss/_768up.scss */
.respond-form {
  padding-bottom: 2.2em;
}
/* line 375, ../scss/_768up.scss */
.respond-form div {
  width: 60%;
  margin: 10px 20%;
  clear: both;
}
/* line 382, ../scss/_768up.scss */
.respond-form form textarea {
  margin: 20px 10%;
  width: 80%;
}

/******************************************************************
FORM STYLES
******************************************************************/
/* line 398, ../scss/_768up.scss */
form div {
  padding-top: 20px;
}
/* line 402, ../scss/_768up.scss */
form label {
  width: 20%;
  padding-top: 10px;
  float: left;
  display: block;
}
/* line 409, ../scss/_768up.scss */
form input[type="checkbox"] + label {
  float: none;
  width: 100%;
}
/* line 417, ../scss/_768up.scss */
form input[type=text],
form input[type=email],
form input[type=url],
form textarea {
  margin-left: 5%;
  float: left;
  width: 75%;
}
/* line 423, ../scss/_768up.scss */
form textarea {
  margin: 20px 10%;
  width: 80%;
}

/*********************
FOOTER STYLES
*********************/
/* line 438, ../scss/_768up.scss */
.footer {
  margin-bottom: 0px;
}
/* line 442, ../scss/_768up.scss */
.footer a:hover {
  color: #b99d95;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* line 17, ../scss/_1030up.scss */
.nav {
  width: 500px;
}
/* line 22, ../scss/_1030up.scss */
.nav li:nth-child(3), .nav li:nth-child(4) {
  float: left;
}

/* show social media links */
/* line 31, ../scss/_1030up.scss */
#social {
  display: block;
  margin-top: -73px;
  float: right;
  z-index: 400;
}
/* line 37, ../scss/_1030up.scss */
#social li {
  float: left;
}
/* line 40, ../scss/_1030up.scss */
#social li a {
  display: block;
  height: 62px;
  width: 62px;
  margin: 0 20px 0 0;
  background-size: cover;
  font: 0/0 a;
}
/* line 48, ../scss/_1030up.scss */
#social li a:hover {
  background-position: 0 62px;
}
/* line 54, ../scss/_1030up.scss */
#social li:nth-of-type(1) a {
  background-image: url("../images/social-twitter.png");
}
/* line 58, ../scss/_1030up.scss */
#social li:nth-of-type(2) a {
  background-image: url("../images/social-facebook.png");
}
/* line 62, ../scss/_1030up.scss */
#social li:nth-of-type(3) a {
  background-image: url("../images/social-goodreads.png");
}
/* line 66, ../scss/_1030up.scss */
#social li:nth-of-type(4) a {
  background-image: url("../images/social-mail.png");
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* post meta */
/* line 78, ../scss/_1030up.scss */
.date {
  width: 40%;
}

/* line 83, ../scss/_1030up.scss */
.footer {
  background: url("../images/nav-ribbon.png") repeat-x 0px center;
  background-size: 30px 57px;
  border-top: 0;
  margin: 40px 0 20px;
  padding: 10px;
  color: #4e3a34;
  letter-spacing: 2px;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
